LOSCFG_PLATFORM_QEMU_ARM_VIRT_CM4=y
LOSCFG_MEM_FREE_BY_TASKID=y
# 中断控制器:cortex-m4 → NVIC 驱动层实现(drivers/interrupt/arm_nvic.c)
LOSCFG_CORTEX_M_NVIC=y
# LOSCFG_ARCH_FPU_DISABLE is not set
LOSCFG_KERNEL_BACKTRACE=y
LOSCFG_KERNEL_CPUP=y
LOSCFG_KERNEL_PM=y
LOSCFG_KERNEL_TRACE=y
LOSCFG_TRACE_MSG_EXTEND=y
LOSCFG_TRACE_FRAME_CORE_MSG=y
LOSCFG_TRACE_FRAME_EVENT_COUNT=y
LOSCFG_KERNEL_LMS=y
LOSCFG_LMS_MAX_RECORD_POOL_NUM=10
LOSCFG_HWI_PRE_POST_PROCESS=y
LOSCFG_ARCH_TIMER_VENDOR=y
LOSCFG_CORTEX_M_SYSTICK=y
LOSCFG_TIMER_ARCH_BRIDGE=y
LOSCFG_KERNEL_TICKLESS_GLOBAL=y
LOSCFG_LMS_LOAD_CHECK=y
LOSCFG_LMS_STORE_CHECK=y
# LOSCFG_PLATFORM_HWI_WITH_ARG is not set
LOSCFG_HWI_BOTTOM_HALF=y
LOSCFG_BASE_CORE_TSK_LIMIT=24
LOSCFG_BASE_CORE_TSK_MIN_STACK_SIZE=2048
LOSCFG_BASE_CORE_TSK_IDLE_STACK_SIZE=2048
LOSCFG_BASE_CORE_TSK_MONITOR=y
LOSCFG_BASE_CORE_TSK_DEFAULT_STACK_SIZE=4096
LOSCFG_BASE_IPC_SEM_LIMIT=48
LOSCFG_BASE_IPC_MUX_LIMIT=24
LOSCFG_BASE_IPC_QUEUE_LIMIT=24
LOSCFG_QUEUE_STATIC_ALLOCATION=y
LOSCFG_BASE_IPC_RWSEM=y
LOSCFG_FS_LITTLEFS=y
LOSCFG_NET_LWIP=y
LOSCFG_MEM_DEBUG=y
LOSCFG_BASE_MEM_NODE_INTEGRITY_CHECK=y
LOSCFG_MEM_WATERLINE=y
LOSCFG_TASK_MEM_USED=y
LOSCFG_SHELL=y
LOSCFG_KERNEL_TEST=y
LOSCFG_KERNEL_TEST_FULL=y
